---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Oh una pared">
  <div class="error-404">
    <h1>Hmm... Tu no deberías estar en este lugar tan desolado</h1>
    <p>
      Parece te has perdido, hace un poquito de frio por aqui, asi que trata de no pasar mucho tiempo, si no quizas te pierdas más.
    </p>
    <a href="/" class="see-all">Volver al inicio &rarr;</a>
    <a href="/garden" class="see-all">Ver todas las notas &rarr;</a>
  </div>
</BaseLayout>
