---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Datos sin importancia">
  <div class="about-page">
    <h1>Datos</h1>
    <p>
Holap, realmente no es que tenga una temática específica para esta pagina, simplemente era algo que siempre me llamaba la atencion hacer, y seré yo subiendo las cosas que me llaman la atención. También es un buen pretexto para poner más atención a las cosas que consumo, si tengo la idea de que después voy a escribir algo relacionado a ello. Igual pueden recomendar temas, libros, series, lo que sea, para tener qué hacer.
Debo admitir que fue mas divertido de lo que esperaba hacer esta cosa
    </p>
  </div>
</BaseLayout>
