---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Futuro">
  <section class="page">
    <h1>Futuro</h1>

    <p>
      Este espacio sera para las futuras notas y cosas que quiera hacer por acá
    </p>

    <h2>Ideas pendientes</h2>

    <ul>
      <li>Mejorar el sitio</li>
      <li>Niños prodigio</li>
      <li>Dislexia poliglota</li>
      <li>Reseñas mcuhas reseñas</li>
      <li>Publicación automática desde la bóveda</li>
    </ul>

   /section>
</BaseLayout>
